on:
  push:
    branches: [main, master]
  pull_request:

name: lint-project

jobs:
  lint-project:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr, local::.
          needs: check

      - name: Lint
        run: |
          lints <- lintr::lint_package()
          if (length(lints) > 0) {
            print(lints)
            stop("Linting errors found")
          }
        shell: Rscript {0}
